<div class="card-deck">
    <div class="card m-5">
        <a href="#">
            <img class="card-img-top" src="~/ui/img/news-350x223-3.jpg" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>

    <div class="card m-5">
        <a href="#">
            <img class="card-img-top" src="~/ui/img/news-350x223-4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </a>
    </div>
</div>

<hr class="p-5" style="background-color:Tomato;">

<!-- ////////////////////////////////////////////////////////////////// -->

<div class="card-deck m-5">
    <div class="card">
        <a href="#">
            <img class="card-img-top" src="~/ui/img/news-350x223-3.jpg" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="#">
            <img class="card-img-top" src="~/ui/img/news-350x223-4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </a>
    </div>
</div>

<!-- ////////////////////////////////////////////////////////////////// -->

<hr class="p-5" style="background-color:Tomato;">

<div class="row row-cols-2">
    <div class="col">
        <div class="card m-5">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-825x525.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card m-5">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-350x223-4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-350x223-1.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-350x223-3.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-350x223-5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-825x525.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="#">
                <img class="card-img-top" src="~/ui/img/news-350x223-4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    </div>
</div>
