@model List<PostVM>

<h2>Post List</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Language</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.PostTitle</td>
            <td>@i.CategoryName</td>
            <td>@i.LanguageCode</td>

            <td></td>

            <td><a asp-action="Edit" asp-route-id="@i.PostId">Edit</a></td>
        </tr>
    }
</table>
<a asp-action="Create">Create</a>